---
name: 'pre-release'

on:
  push:
    branches:
      - 'master'
    pull_request:
      - 'master'

jobs:
  pre-release:
    name: 'Pre Release'
    runs-on: 'ubuntu-latest'

    steps:
      # ...
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm install
      - run: npm run test:unit
      - uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          automatic_release_tag: 'latest'
          prerelease: true
          title: 'Development Build'
          files: |
            LICENSE
            src/*
            tsconfig.json
            package.json
